<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<nav class="nav-extended">
    <div class="nav-wrapper teal lighten-2">
        <a href="#" class="brand-logo">SocketChat</a>
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="waves-effect waves-light btn" value="Sign Out"/>
            </form>
        </div>
    </div>
    <div class="nav-content teal lighten-2">
        <ul class="tabs tabs-transparent">
            <li class="tab" th:each ="room : ${rooms}">
                <a th:class="room + ${room.id}" th:onclick = "|changeRoom(${room.id})|">[[${room.name}]]</a>
            </li>
        </ul>
    </div>
</nav>
<div id = "chat-container" class="chat col s10 pull-s1 m6 pull-m3 l4 pull-l4">

    <div id="connecting">Connecting...</div>
    <ul id="messageArea"></ul>
    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="text" id="message" autocomplete="off"
                   placeholder="Введите сообщение"/>
            <input type="submit" class="btn waves-effect waves-light" value="Отправить">
        </div>
    </form>
    </div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
